<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">

      <div class="panel panel-default">
        <div class="panel-heading">Cover Picture</div>
        <div class="panel-body">
          Fullname, @username, tweets, following, followers
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">

      <form action="/tweets" method="post">


      <input class="input-lg" type="text" name="tweet[content]" placeholder="Tweet Content">
      <input class="btn btn-info btn"  type="submit" value="Tweet!!">
    </form>

        </div>

        <div class="panel-body">
        <% @tweets.each do |tweet| %>
          <div class="well-sm">
            <div class="tweet-header">

              <div class="col-md-6">
              <em>@<%= tweet.user.username %></em>
              </div>

              <div class="col-md-3"></div>

              <div class="col-md-3">
                <%= tweet.created_at.to_s.chars[0..10].join %>
              </div>
            </div>


            <div class="tweet-body">
             <%= tweet.content %>
            </div>


            <div class="container">
              <form class="tweet-button" method="post" action="/tweets/<%= tweet.id %>/retweet">
                <input class="btn btn-info btn-xs" type="submit" value="retweet">
              </form>

              <form class="tweet-button" method="post" action='/tweets/<%= tweet.id  %>'>
                <input type="hidden" name="_method" value="delete">
                <input class="btn btn-danger btn-xs" type="submit" value="delete">
              </form>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-3">

      <div class="panel panel-default">

        <div class="panel-header">
          Currently Following
        </div>

        <% @current_user.followings.each do |following| %>
            <div class="panel-footer">
              <a href="/profile/<%= following.id %>"><%= following.username %></a>
            </div>
        <% end %>

        <div class="panel-header">
        Find people you may know
        </div>
        <div class="panel-footer">
        <% @users.each do |user| %>
          <div class="panel-users">
            <a href="/profile/<%= user.id %>"><%= user.username  %></a>
          </div>
        <% end %>
        </div>
      </div>

    </div>
  </div>
</div>










