<div class="panel panel-default">
  <div class="panel-body">

    <h3><%= @user.username %>'s Profile</h3><br>

    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @user.first_name %> <%= @user.last_name %></dd>
      <dt>Email</dt>
      <dd><%= @user.email %></dd>
    </dl>

    <div class="profile-button">
      <a href="/tweets" class="btn btn-info">Tweets</a>
      <a href="/signout" class="btn btn-primary">Sign out</a>
      <form action="/follow/<%= @user.id  %>" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="put">
        <input class="btn btn-default" type="submit" value="Follow">
      </form>
    </div>


  </div>
</div>
